/* header */
.header { margin-bottom: 20px; }
.header-title, .header-nav { padding: 10px 15px; }
.header-title { margin: 0;  font-size: 18px; text-align: center; color: #fff; }
.header-nav a { padding: 0 10px;color: #fff; }
/* main */
.main { margin-bottom: 20px; }